doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet')
  link(rel='stylesheet' href='css/main.css')
  title My Account | Vulture
  link(rel="stylesheet", href="css/fa.css")
.auth-bg
.auth-wrap.my-account-wrap
  .auth-bar
  .auth-body
    .auth-title
      span.fad.fa-user-cog.grey-i.dgrey-i
      | My Account
    .account-divider
      | GENERAL
      .acc-div
    form.prefs-form
      .form__group
        label.form__label Name
        input.form__input.form-prefs-name(minlength="1" required value=`${user.name}`)
      .form__group
        label.form__label Email
        input.form__input.form-prefs-email(type="email" required value=`${user.email}`)
      .acc-btn-container
        button.btn.btn-primary.r-30.prefs-btn(type='submit') Save
    .account-divider-padding
    .account-divider
      | APPEARANCE
      .acc-div
    .mode-container
      label.appearance-label Dark Mode
      label.mode-switch
        input.mode-input(type="checkbox")
        span.mode-slider
    .auth-alt
      a.auth-alt-option.back-btn(href="javascript:history.go(-1);") 
        .fad.fa-chevron-left
    .auth-alt.aa-r#logout
      .auth-alt-option Log Out
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='js/response.js')
script(src='js/bundle.js')
script.
  const swt = document.querySelector('.mode-input');

  const mode = localStorage.getItem('mode');

  if(mode === "Dark"){
    swt.checked = true;
  } else {
    swt.checked = false;
  }

  swt.addEventListener('change', () => {
    if (swt.checked) {
      localStorage.setItem('mode', 'Dark');
    } else {
      localStorage.setItem('mode', 'Light');
    }
  })