doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet')
  link(rel='stylesheet' href='css/main.css')
  title Create Project | Vulture
  script(src='https://kit.fontawesome.com/8ad34c9995.js' crossorigin='anonymous')
.auth-bg
.auth-wrap
  .auth-bar
  .auth-body
    .auth-title
      | Create a Project
    form.create-project
      .form__group
          label.form__label(for='code') Project Name
          input#project-name.form__input(type='text' placeholder='e.g. Vulture' minlength='1' required='' maxlength="18")
      .form__group
          label.form__label(for='select') Project Type
          br
          select.select-type#project-type(required='')
              option(selected disabled hidden) Select
              optgroup(label="Projects")
                  option(value="Software Project") Software Project
                  option(value="Mobile Project") Mobile Project
                  option(value="Game Project") Game Project
                  option(value="Desktop App Project") Desktop App Project
              optgroup(label="Development")
                  option(value="Web Development") Web Development
                  option(value="Enterprise Development") Enterprise Development
                  option(value="System Development") System Development
                  option(value="Embedded Development") Embedded Development
              optgroup(label="Other")
                  option(value="Client Management") Client Management 
                  option(value="Team") Team
                  option(value="Group") Group
                  option(value="Personal") Personal
                  option(value="Startup") Startup
                  option(value="Company") Company
       
      .form__group.form__last
          button.form__btn(type="submit") Create
    .auth-alt
      | Have a code? 
      a.auth-alt-option(href="/action") Go Back
    .auth-alt.aa-r#logout
      .auth-alt-option Log Out
script(src='js/bundle.js')