doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet')
  link(rel='stylesheet' href='css/main.css')
  title Error | Vulture
  script(src='https://kit.fontawesome.com/8ad34c9995.js' crossorigin='anonymous')
.auth-bg
.auth-wrap
  .auth-bar
  .auth-body
    .auth-title
      | There was an error loading this page.
    .auth-subtitle
      | You have not joined any projects.
    .auth-alt
      | To be a member of a project, 
      a.auth-alt-option(href="/action") click here
      | .
script(src='js/response.js')
