doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet')
  link(rel='stylesheet' href='css/main.css')
  title Register | Vulture
  script(src='https://kit.fontawesome.com/8ad34c9995.js' crossorigin='anonymous')
  script(src="https://cdn.jsdelivr.net/npm/@jaames/iro@5")
.auth-bg
.auth-wrap.register-wrap
  .auth-bar
  .auth-body
    .auth-title
      | Register your new Vulture account
    form.form.form--register
      .form__group
        label.form__label(for='name') Name
        input#name.form__input(type='text' placeholder='Full Name' required='' maxlength="32")
      .form__group
        label.form__label(for='email') Email address
        input#email.form__input(type='email' placeholder='example@email.com' required='')
      .form__group
        label.form__label(for='pass') Password
        input#password.form__input(type='password' placeholder='••••••••' required='' minlength='8')
      .form__group
        label.form__label(for='cpass') Confirm password
        input#cpassword.form__input(type='password' placeholder='••••••••' required='' minlength='8')
      .form__group.form__last
        button.form__btn Register
    .auth-alt
      | Already have an account?&nbsp;
      a.auth-alt-option(href="/login") Log in
script(src='js/response.js')
script(src='js/bundle.js')
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')

