:root{
    --primary: rgb(70, 73, 160);
    --lprimary: rgb(84, 90, 245);
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    font-family: rreg;
    -webkit-touch-callout: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
::-webkit-scrollbar{
    width: 0;
    background: transparent;
    height: 0;
}
@font-face{
    font-family: rbold;
    src: url('./../Rubik/Rubik-Bold.ttf');
}
@font-face{
    font-family: rblack;
    src: url('./../Rubik/Rubik-Black.ttf');
}
@font-face{
    font-family: rreg;
    src: url('./../Rubik/Rubik-Regular.ttf');
}
@font-face{
    font-family: rmed;
    src: url('./../Rubik/Rubik-Medium.ttf');
}
@font-face{
    font-family: rlight;
    src: url('./../Rubik/Rubik-Light.ttf');
}
.control-menu{
    background-color: rgb(70, 73, 160);
    height: 100%;
    width: 75px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
}
.control-menu div a{
    font-size: 25px;
    color: rgb(230, 230, 230);
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.2s;
}
.control-menu div a:hover{
    color: white;
    transition: all 0.2s;
    
}
.subset-menu{
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 350px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
.control-logo{
    width: 80%;
    padding-top: 40px;
}
.control-top{
    padding-top: 15px;
    width: 100%;
    text-align: center;
}
.control-top > div, .control-bottom > div{
    padding-top: 30px;
    display: flex;
}
.control-bottom{
    margin-top: auto;
    padding-bottom: 40px;
    width: 100%;
    text-align: center; 
}
.subset-proj-header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 13px;
}
.proj-img{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    background-color: lightgrey;
}
.proj-text{
    margin-left: 10px;
    height: 50px;
    width: calc(100% - 80px);
}
.proj-text--title{
    height: 25px;
    font-size: 20px;
    font-family: rmed;
    line-height: 25px;
    color: rgb(9, 0, 27);
}
.proj-text--subtitle{
    height: 25px;
    font-size: 15px;
    color: #504a57;
    line-height: 25px;
}
.subset-item{
    height: 60px;
    font-size: 20px;
    padding-left: 15px;
    border-radius: 5px;
    line-height: 60px;
    transition: all 0.1s ease-in-out;
}
.subset-item:hover{
    background-color: rgba(70, 73, 160,0.1);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    color: var(--lprimary);
}
.subset-item-text{
    padding-left: 25px;
}
.main-body{
    width: calc(100% - 350px - 75px);
    height: 100%;
    padding-left: 40px;
}
.board-header{
    height: 130px;
    width: 100%;
    line-height: 130px;
}
.board-title{
    font-size: 60px;
    font-family: rmed;
}
.board-boards{
    overflow: scroll;
    height: calc(100% - 130px);
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}
.general-body{
    overflow: scroll;
    height: calc(100% - 130px);
    width: calc(100% - 40px);
}
.panel{
    height: 95%;
    overflow: hidden;
    width: 98%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-right: calc(100% / 4 - 4 * 350);
    transition: 0.2s;
}
.subset-active{
    background-color: rgba(118, 120, 170, 0.1);
    color: var(--lprimary);
}
.panel:hover{
    border: 1px solid rgb(151, 154, 251);
    transition: 0.2s;
    transition-delay: 0.1s;
}
.panel:hover .panel-header{
    background-color: rgb(151, 154, 251);
    transition: 0.2s;
    color: white;
    transition-delay: 0.1s;
}
.panel-header{
    background-color: lightgrey;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    color: grey;
    padding-left: 15px;
    padding-right: 15px;
    font-family: rmed;
    display: flex;
    border: none;
}
.panel-body{
    background-color: rgb(240, 240, 240);
    height: calc(100% - 50px);
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.panel-header-text{
    text-transform: uppercase;
}
.panel-header-text:focus{
    outline: none;
}
.panel-header-icon{
    margin-left: auto;
    transition: 0.2s;
}
.panel-header-icon:hover{
    color: lightgrey;
    transition: 0.2s;
}

.panel-item{
    min-height: 150px;
    background-color: white;
    border-radius: 5px;
    width: calc(100% - 20px);
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px lightgrey;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
}
.panel-item:hover{
    background-color: rgb(249, 249, 253);
}
.panel-item:first-child{
    margin-top: 10px;
}
.panel-item:last-child{
    margin-bottom: 10px;
}
.panel-item-title{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 10px;
    padding-bottom: 5px;
    grid-row: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.panel-item-urgency{
    grid-row: 3;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.panel-item-markers{
    grid-row: 2;
    margin-left: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
/* .panel-item-assigned{
    grid-row: 4;
    margin-left: 10px;
    font-size: 13px;
    font-family: rmed;
} */
.urgency{
    height: 25px;
    width: 25px;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
}
.urgency-text{
    padding: 5px;
    padding-bottom: 3px;
    display: inline;
    align-self: center;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    transition: all 0.2s;
    box-sizing: border-box;
    flex: 0.5;
    border-bottom: 2px solid transparent;
}
.critical{
    background-color: #FCCED7;
    color: #4A0C0D;
}
.high{
    background-color: #FCD9D0;
    color: #531B0B;
}
.medium{
    background-color: #FCEFC1;
    color: #554511;
}
.low{
    background-color: #D8FCD3;
    color: #1C3E17;
}
.marker{
    height: 17px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 18px;
    text-align: center;
    font-size: 15px;
    font-family: rmed;
    display: inline-block;
    margin-right: 7px;
    text-transform: uppercase;
}
.light-blue-marker{
    background-color: rgb(128, 222, 253);
    color: black;
}
.rich-yellow-marker{
    background-color: rgb(255, 217, 90);
    color: black;
}
.html-marker{
    background-color: rgb(255, 119, 119);
    color: black;
}
.css-marker{
    background-color: rgb(119, 205, 255);
    color: black;
}
.error-marker{
    background-color: rgb(255, 161, 117);
    color: black;
}
.backend-marker{
    background-color: rgb(184, 198, 243);
    color: black;
}
.auth-bg{
    height: 100%;
    width: 100%;
    background-image: url('./../img/login-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2000px);
}
.auth-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: 50%;
    width: 20%;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}
input{
    height: 50px;
    transition: 0.2s;
    border: none;
}
input:focus{
    outline: none;
    box-shadow: 0 0 3px #bdbdbd;
    transition: 0.2s;
}
.no-input-animation:focus{
    outline: none;
    box-shadow: none !important;
}
.auth-bar{
    height: 100%;
    width: 10px;
    background-color: var(--primary);
}
.auth-body{
    width: calc(100% - 10px);
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}
.auth-title{
    font-size: 20px;
    margin-bottom: 50px;
    font-family: rmed;
}
.form__input{
    width: 100%;
    padding: 1.25rem 1rem;
    font-size: 15px;
    border-left: 3px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f2f2f2;
    line-height: 50px;
    margin-top: 10px;
}
.form__input:focus{
    outline: none;
    border-left: 3px solid #55c57a;
}
.form__input:focus:invalid{
    border-left: 3px solid #fd1e68;
}
.form__label{
    color: #777;
    font-size: 15px;
    font-family: rmed;
}
.form__group:not(:last-child){
    margin-bottom: 30px;
}
.form__last{
    margin-top: -10px;
}
.form__btn{
    float: right;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    border: 0px solid black;
    background-color: rgba(84, 90, 245, 0.9);
    font-family: rmed;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 15px;
    transition: all 0.4s ease;
}
.form__btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(84, 90, 245, 0.25);
    transition: all 0.4s ease;
}
.auth-alt{
    position: absolute;
    bottom: 30px;
    font-size: 13px;
}
.auth-alt-option{
    color: var(--lprimary);
    transition: all 0.4 ease;
}
.auth-alt-option:hover{
    filter: brightness(1.3);
    transition: all 0.4 ease;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus-within{
    text-decoration: none;
}
.register-wrap{
    height: 65% !important;
}
hr{
    border: 0.5px solid lightgrey;
}
.btn-primary{
    color: white;
    background-color: var(--lprimary);
    border-color: var(--lprimary);
}
.btn-primary:hover{
    background-color: var(--primary);
    border-color: var(--primary);
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}
.required{
    color: #fd1e68;
}
.textarea{
    resize: none;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f2f2f2;
    margin-top: 10px;
    border: none;
    width: 100%;
    padding: 1.25rem 1rem;
}
.textarea:focus{
    outline: none;
}

.urgency-text:hover{
    filter: brightness(0.95);
    transition: all 0.2s;
}
.ur-active{
    /* box-shadow: 0 0 5px rgb(158, 158, 158); */
    border-bottom: 2px solid currentColor;
    box-sizing: border-box;
    transition: all 0.2s;
}
.option-wrap{
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
    max-height: 500px;
    overflow: scroll;
}
.marker-options{
    padding-top: 20px;
}

.checkbox-separator{
    display: flex;
    align-items: center;
}
.tag{
    margin-bottom: 0px;
    margin-left: 10px;
}
.modal-body{
    padding-bottom: 0;
}

.urgency-flex{
    display: flex;
    width: 100%;
}
.urgency-flex > div:not(:last-child){
    margin-right: 10px;
}
.remove{
    color: rgb(134, 47, 62);
    margin-right: 20px;
}
.remove:hover{
    color: rgb(223, 0, 37);
    
}
.flex-mid{
    display: flex;
    align-items: center;
    width: 100%;
}
.fright{
    margin-left: auto;
    margin-right: -2px;
}
.markerColor{
    width: 100%;
}
.w60{
    width: 45%;
}
.mt-0{
    margin-top: 0px;
    height: 30px;
    line-height: 30px;
    
}

/* SLIDERS  */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    padding: 0;
    margin: 0;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121212;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #ffffff;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.option-wrap-round{
    width: 70px;
    height: 44px;
    display: flex;
    align-items: center !important;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 22px;
    line-height: 44px;
    margin-left: 20px;
}

.role-text{
    font-size: 20px;
    line-height: 10px;
}
.role-Vulture{
    color: rgb(216, 30, 123);
}
.role-Manager{
    color: rgb(245, 36, 36);
}
.role-Admin{
    color: rgb(209, 41, 41);
}
.role-Developer{
    color: rgb(206, 146, 37);
}
.role-Editor{
    color: rgb(44, 114, 206);
}
.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 10rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
    background-color: #20bf6b;
}
.alert--error {
    background-color: #eb4d4b;
}

.subset-profile{
    width: calc(100%-30px);
    position: absolute;
    bottom: 0px;
    height: 190px;
    display: flex;
}
.sp-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sp-picture{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: rgb(219, 219, 219);
    border-radius: 7px;
    font-size: 20px;
}


.sp-right{
    flex: 3;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
}
.sp-role{
    font-family: rmed;
}

  


